h4 Information
ul
li Name: #{ name }
li Telephone: #{ telephone }
li Email:  #{ email }
ul
h4 Message
p  #{ message }
h4 Other
ul
li Interested in investing us: #{ invest }
li Interested in working with us: #{ work }
ul

